@use "sass:color";

// Variables

// Gray and Brand Colors for use across theme

$theme-primary:    #D7FBE8;
$theme-secondary:  #00b189;
$theme-tertiary:   #00b189;

$gray-base:        #000;
$gray-darker:      color.adjust($gray-base, $lightness: 13.5%); // #222
$gray-dark:        color.adjust($gray-base, $lightness: 20%);   // #333
$gray:             color.adjust($gray-base, $lightness: 33.5%); // #555
$gray-light:       color.adjust($gray-base, $lightness: 46.7%); // #777
$gray-lighter:     color.adjust($gray-base, $lightness: 93.5%); // #eee
